#!/usr/bin/python

import boto
from datetime import datetime
from boto.utils import get_instance_metadata

instance_id = get_instance_metadata()['instance-id']
ec2 = boto.connect_ec2()

reservations = ec2.get_all_instances(instance_ids=[instance_id])
terminate_time = datetime.strptime(str(reservations[0].instances[0].tags['instance_termination_time']), "%m-%d-%Y %H:%M:%S")

print ("This system will be terminated on {:%b %d, %Y} at {:%H:%M:%S} UTC".format(terminate_time,terminate_time))
